@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 7, 23;
  --background-end-rgb: 0, 7, 23;
}

body {
  background-color: #0B192C;
}